<div class="container">
    <form [formGroup]="form" (ngSubmit)="salvar()">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Veículo</mat-label>
            <mat-select formControlName="veiculoId">
                <mat-option *ngFor="let v of veiculos" [value]="v.id">{{ v.modelo }} - {{ v.tipo}} / {{ v.ano
                    }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Motorista</mat-label>
            <mat-select formControlName="motoristaId">
                <mat-option *ngFor="let m of motoristas" [value]="m.id">{{ m.nome }}</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="date-time-group">
            <mat-form-field appearance="outline">
                <mat-label>Data</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="data">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Hora</mat-label>
                <input matInput type="time" formControlName="hora">
            </mat-form-field>
        </div>
        
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Destino</mat-label>
            <input matInput formControlName="destino">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Justificativa</mat-label>
            <textarea matInput formControlName="justificativa" rows="3"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            Salvar Agendamento
        </button>

        <button mat-raised-button color="accent" type="button" (click)="voltar()" style="margin-left: 8px;">
            <mat-icon>arrow_back</mat-icon>
            Voltar
        </button>
    </form>
</div>