<div class="container">
    <form [formGroup]="form" (ngSubmit)="salvar()">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Veículo</mat-label>
            <mat-select formControlName="veiculoId">
                <mat-option *ngFor="let v of veiculos" [value]="v.id">{{ v.modelo }} - {{ v.tipo}} / {{ v.ano
                    }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Motorista</mat-label>
            <mat-select formControlName="motoristaId">
                <mat-option *ngFor="let m of motoristas" [value]="m.id">{{ m.nome }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Data e Hora de Saída</mat-label>
            <input matInput type="datetime-local" formControlName="dataHoraSaida">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Destino</mat-label>
            <input matInput formControlName="destino">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Justificativa</mat-label>
            <textarea matInput formControlName="justificativa" rows="3"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
            Salvar Agendamento
        </button>

        <button mat-raised-button color="accent" type="button" (click)="voltar()" style="margin-left: 8px;">
            <mat-icon>arrow_back</mat-icon>
            Voltar
        </button>
    </form>
</div>