<mat-card class="card">
  <h2>{{ index !== null ? 'Editar Motorista' : 'Cadastrar Motorista' }}</h2>
  <form [formGroup]="form" (ngSubmit)="salvar()" class="form">

    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nome Completo</mat-label>
        <input matInput formControlName="nome" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>CPF</mat-label>
        <input matInput formControlName="cpf" required />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>CNH</mat-label>
        <input matInput formControlName="cnh" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Validade CNH</mat-label>
        <input type="date" matInput formControlName="validadeCnh" required />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Telefone</mat-label>
        <input matInput formControlName="telefone" required />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>CEP</mat-label>
        <input matInput formControlName="cep" (blur)="buscarEndereco()" required />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Endereço</mat-label>
        <input matInput formControlName="endereco" readonly />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="cidade" readonly />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>UF</mat-label>
        <input matInput formControlName="uf" readonly />
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>E-mail</mat-label>
        <input matInput formControlName="email" type="email" required />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="senha" type="password" required />
      </mat-form-field>
    </div>

    <div class="actions">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        Salvar
      </button>
      <button mat-button type="button" (click)="router.navigate(['/motoristas'])">
        Cancelar
      </button>
    </div>

  </form>
</mat-card>
