<h2 mat-dialog-title>Registrar Manutenção</h2>
<mat-dialog-content>

    <form [formGroup]="form" (ngSubmit)="salvar()" class="form">

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Data</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="data" required />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="tipo" required>
                <mat-option *ngFor="let c of tipos" [value]="c"> {{ c | titlecase }} </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Descrição</mat-label>
            <textarea matInput formControlName="descricao" required rows="3"></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Valor</mat-label>
            <input matInput formControlName="valor" mask="separator.2" thousandSeparator="." decimalMarker=","
                prefix="R$ " required />
        </mat-form-field>
        
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Quilometragem Atual</mat-label>
            <input matInput type="number" formControlName="quilometragem" required min="0" />
        </mat-form-field>

        <div class="actions">
            <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">Salvar</button>
            <button mat-button type="button" (click)="cancelar()">Cancelar</button>
        </div>
    </form>
</mat-dialog-content>